 
.li:hover{
  
    background-color:aliceblue;
    border-radius: 2px;
    color: rgb(35, 35, 71);
    background-color:  rgb(242, 242, 243);
  
 
}
span{color: red;}
img{
  width: 400px;
  height: 250px;
  border-radius: 10px;
}
#btn1{
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  position: relative;
  left: -36px;
  top: 100px;
}
#btn2{
  width: 30px;
  height: 30px;
  position: relative;
  left: -417px;
  top: 104px;
}
#cont{
  margin-top: 200px;
  display: flex;
  justify-content: center;
 
 

}
#hh1{
  position: relative;
  left: 200px;
  top: -70px;
  color: chocolate;
}